/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.agbalumo-regular {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  .secondary-font {
    font-family: "omnes-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100, "wght" 500;
}
.google-signin-button .MuiButton-label{
  color: black;
  font: 800;
}
.prime-font{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
}
.thick-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.thin-font{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:40px;
}
.poppins-normal{
  font-family: "Poppins", sans-serif;
}
.categories-container {
  display: inline-block;
  vertical-align: top;
}
.prime-font-sm{
  
  font-size: 40px;
}
.thick-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.thin-font{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:40px;
}
.poppins-normal{
  font-family: "Poppins", sans-serif;
}
.categories-container {
  display: inline-block;
  vertical-align: top;
}
.prime-sm{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.inter-sm{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.message {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: #f1f1f1;
}

.emoji-message {
  font-size: 2.2rem; 
}
/* Lightbox.css */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.lightbox-content {
  position: relative;
}

.lightbox-content img {
  max-width: 100%;
  max-height: 100%;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
